body {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}


.content{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-size: cover;
}

.header{
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-header{
    padding: 18px 80px;
}

.content-header-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
}

.header_logo:hover{
    color: #3CB878;
}

.header-right-part{
    display: flex;
    align-items: center;
}

.header-icon-items{
    margin-right: 24px;
}

.header-icon-items:hover .header-icon-items_fill_green{
    fill: #3CB878;
}

.header-text{
    color: #FFFFFF;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}

.header-text::before{
    content: '';
    border-left: 1px solid #FFFFFF;
    display: inline-block;
    height:  19px;
    margin-right: 27px;
    vertical-align: middle;    
}

.color-text:hover{
    cursor: pointer;
    color: #3CB878;
}

.main-content{
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
    position: absolute;
    top: 58px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 444px;
    height: 584px;
}

.header_main-content{
    display: flex;
    justify-content: space-between;
    margin: 0 62px;
    font-weight: 400;
}

.header_main-content_sing-up{
    font-size: 20px;
    line-height: 20px;
    margin-top: 31px;
}

.header_main-content_log-in{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    margin-top: 33px;
}

.box-in-main{
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 29px;
}

.social-networks{
    display: flex;
    justify-content: space-between;
    margin: 15px 60px 30px;
}

.social-networks_facebook{
    width: 160px;
    height: 48px;
    background: #305DB8;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 4px; 
}

.social-networks_facebook:hover{
    background: #022263;
}

.social-networks_google{
    width: 160px;
    height: 48px;
    background: #DF4A32;
    border-radius: 4px; 
    box-sizing: border-box;
    display: inline-block; 
    align-content: center; 
}

.social-networks_google:hover{
    background: #AB1F09;
}


.social-network_content{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    margin-top: 10px;
}

.social-networks_facebook_logo{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
}

.social-networks_facebook_name::before{
    content: '';
    border-left: 1px solid #0A162F;
    display: inline-block;
    height:  28px;
    margin-right: 30px;
    margin-left: 18px;
    vertical-align: middle; 
    opacity: 0.1;
}

.social-networks_google_logo{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
}


.social-networks_google_name::before{
    content: '';
    border-left: 1px solid #2B0D09;
    display: inline-block;
    height:  28px;
    margin-right: 30px;
    margin-left: 7px;
    vertical-align: middle; 
    opacity: 0.1;
}

.form-input {
    display: flex;
    flex-flow: column;
    width: 322px;
    margin: 0 auto;
}
.input-part {
    display: flex;
    flex-flow: column;
}
.input-part .form-part input {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}
.form-input label[type]  {
    color: #434343;
    font-size: 14px;
    line-height: 1;
    
    
}
.form-input label a {
    color: #3CB878;
    display: inline-block;
    
}
.form-input label a:hover {
    color: #01813F;
    border-bottom: 1px solid #01813F;
    box-sizing: border-box;
}
.submit-btn {
    width: 322px;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    background-color: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    height: 46px;
    margin-top: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 34px;
}
.submit-btn:hover {
    background-color: #01813F;
}
.submit-btn:focus {
    outline: 1px solid #FFFFFF;
}
.input-text,
.input-email,
.input-password {
    background-color: #FFFFFF;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    outline: none;
    height: 44px;
    padding-left: 19px;
    margin-bottom: 16px;
}
.input-text:focus,
.input-email:focus,
.input-password:focus {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.input-text:active,
.input-email:active,
.input-password:active {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.input-password + .input-password {
    margin-bottom: 20px;
}
.input-part .checkbox {
    cursor: pointer;
}
.real-checkbox {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
    outline: none;
}
.real-checkbox:focus+.custom-checkbox {
    box-shadow: 0 0 0 1px #01813F , 0 0 10px #3CB878;
}
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #7e9bbd;
    border-radius: 4px;
    vertical-align: sub;
    margin-right: 5px;
    position: relative;
    cursor: pointer;
}
.custom-checkbox::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background-image: url(../img/arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.2s ease-in;
}
.real-checkbox:checked+.custom-checkbox::before {
    transform: translate(-50%, -50%) scale(1);
}
.submit-btn:focus {
    outline: 1px solid #01813F;
}